.wrapper {
  align-items: flex-start;
  background: #ffffff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  width: 1330px;
  padding: 39px 43px 49px 63px;
}

.title__block {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.modal__title,
.title {
  color: #1c1c1c;
  font-size: 20px;
  font-weight: 600;
}

.modal__title {
  margin-top: 42px;
}

.close__icon {
  cursor: pointer;
}

.subtitle {
  color: #8e8e8e;
  font-size: 14px;
  font-weight: 500;
  margin: 8px 0 40px 0;
}

.block {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-bottom: 30px;
  width: 100%;
}

.input__block {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.wide__input_block {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 97%;
}

.filter__title {
  color: #505050;
  font-size: 12px;
  font-weight: 500;
}

.filter__input {
  border: 1px solid #c7c7c7;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  height: 48px;
  padding: 0 20px;
  width: 258px;
}

.wide__filter_input {
  border: 1px solid #c7c7c7;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  height: 48px;
  padding: 0 20px;
  width: 918px;
}

.input__btns_block {
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding-bottom: 20px;
}

.file__btns_block {
  display: flex;
  flex-direction: row;
  gap: 11px;
}

.button {
  align-items: center;
  background: #f2f2f2;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  height: 48px;
  justify-content: center;
  position: relative;
  width: 50px;
}

.first__file {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.second__file {
  position: absolute;
  top: 45%;
  left: 60%;
  transform: translate(-50%, -50%);
}

.filter__select {
  width: 300px;
}

.wide__filter_select {
  width: 100%;
}

.additional__filters_block {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 18px;
}

.additional__filter__input {
  border: 1px solid #c7c7c7;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  height: 48px;
  padding: 0 20px;
  width: 158px;

  &:disabled {
    background: #eff0f4;
  }
}

.additional__filter_select {
  width: 200px;
}

.results__block {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  width: 97%;
}

.text__block {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 41px;
}

.text {
  color: #1c1c1c;
  font-size: 16px;
  font-weight: 400;
}

.modal__btns_block {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-top: 34px;
}

.save__btn {
  align-items: center;
  background: #f25627;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  height: 48px;
  justify-content: center;
  width: 181px;
}

.cancel__btn {
  align-items: center;
  border-radius: 5px;
  color: #f25627;
  cursor: pointer;
  display: flex;
  height: 48px;
  justify-content: center;
  width: 171px;
}
